{% extends 'base.html' %}
{% block title %} Home  {% endblock title %}
{% block content %}
<h2>Landing page</h2>
{% if user.is_authenticated %}
    <p><a href="{% url 'books:book-list' %}">Books</a></p>
    <p><a href="{% url 'users:logout' %}">logaut</a></p>
    <p><a href="{% url 'users:regis' %}">Register</a></p>
     <p><a href="{% url 'users:profile' %}">Profile</a></p>
{% else %}
    <p><a href="#">Books</a></p>
    <p><a href="{% url 'users:login' %}">Login</a></p>
    <p><a href="{% url 'users:regis' %}">Register</a></p>
{% endif %}


{% endblock content %}